@import 'defs/config';
@import 'defs/mixins';

/************************************************************************************************/

.wrap-left {left: -#{$design-width}rem;}
.wrap-right {right: -#{$design-width}rem;}
.wrap-top {top: -#{$design-width}rem;}
.wrap-bottom {bottom: -#{$design-width}rem;}

.onverytop {z-index: 2;}
.onmosttop {z-index: 3;}
.onfukkentop {z-index: 4;}

.ls-002 {letter-spacing: 0.02em;}

.clip-all {clip: rect(auto,auto,auto,auto);}
.clip-lr {clip: rect(#{- $design-width}rem,auto,#{$design-width}rem,auto);}
.clip-l {clip: rect(#{- $design-width}rem,#{$design-width}rem,#{$design-width}rem,auto);}
.clip-r {clip: rect(#{- $design-width}rem,auto,#{$design-width}rem,#{- $design-width}rem);}
.clip-tb {clip: rect(auto,#{$design-width}rem,auto,#{- $design-width}rem);}
.clip-t {clip: rect(auto,#{$design-width}rem,#{$design-width}rem,#{- $design-width}rem);}
.clip-b {clip: rect(#{- $design-width}rem,#{$design-width}rem,auto,#{- $design-width}rem);}

.checked-unslide {
	:checked + & {
		@include transform(translateX(-100%));
	}
}
.checked-unview {
	:checked + & {
		opacity: 0;
		& , * {
			pointer-events: none;
		}
	}
}

/************************************************************************************************/

.top-menu-container {
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: #{- $design-width}rem;
		right: #{- $design-width}rem;
		top: 53rem;
		outline: 60rem solid transparent;
		@include transition-raw(all .3s);

		z-index: -1;
	}

	&.top-menu-container-fixed {
		position: fixed;
		top: -53rem;

		&:before {
			outline-color: inherit;
		}
	}
}
.top-logo {
	:first-child {
		letter-spacing: 0.0857em;
	}
	:last-child {
		letter-spacing: 0.13em;
	}

	.top-menu-container-fixed & {
		:first-child {
			font-size: 25rem;
		}
		:last-child {
			font-size: 10rem;
			opacity: 0;
		}
	}
}

/************************************************************************************************/

#foam_container {
	//@include filter(drop-shadow(10rem 0 10rem rgba(0,0,0,.5)));
	//-webkit-filter: drop-shadow(10rem 0 10rem rgba(0,0,0,.5));
}

/************************************************************************************************/

.advantages-block {
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		border-right: #{$design-width}rem solid transparent;
		border-top: 970rem solid;
		border-top-color: inherit;
	}
}

.factory-bg {
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: -430rem;
		border-left: #{$design-width}rem solid transparent;
		border-bottom: 970rem solid;
		border-bottom-color: inherit;

		outline: #{$design-width}rem solid;
		outline-color: inherit;
	}

	clip: rect(-430rem auto auto auto);
}

.certificates-bg {
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -550rem;
		border-left: #{$design-width}rem solid transparent;
		border-top: 970rem solid;
		border-top-color: inherit;

		outline: #{$design-width}rem solid;
		outline-color: inherit;
	}

	clip: rect(auto auto #{780 + 550}rem auto);
}


.companies-block {
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: #{ - $design-width - 480 }rem;
		height: 1310rem;
		background: url(/assets/img/companies/bg.jpg) bottom left no-repeat;
		background-size: auto 1303rem;

		border-bottom: #{$design-width}rem solid;
		border-color: inherit;

		z-index: -1;
	}
}

/************************************************************************************************/

.compare-block {
	margin-top: -125rem;
}
.compare-bg {
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: #{ -165/2 - 95/2 - 30 - 35 /* o_0 */ }rem;
		height: 95rem;
		border-top: 30rem solid;
		border-bottom: 30rem solid;
		border-color: inherit;

		z-index: -1;

		@include transform(skewY(-26.8deg));
	}
}
.compare-container {
	box-shadow: 0 30rem #{28.6rem * 2} -30rem #000, 0 -30rem #{28.6rem * 2} -30rem #000;
}

/************************************************************************************************/

.head-block {
	&:before {
		content: 'UVER';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 205rem;
		font-size: 337rem;
		line-height: 1;
		letter-spacing: 29rem;
		padding-left: 15rem;

		z-index: -1;
	}
}

.advantages-block {
	&:before {
		content: 'ПРЕИМУЩЕСТВА';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 350rem;
		font-size: 192rem;
		line-height: 1;
		//letter-spacing: 29rem;
		//padding-left: 15rem;

		z-index: -2;
	}
}

/************************************************************************************************/

.order-button {
	box-shadow: 0 14rem 14rem -11rem #7e201c;

	&:hover {
		@include transform(translateY(-5rem));
		box-shadow: 0 14rem 34rem -11rem #7e201c;
	}
}
.order-button-small {
	box-shadow: 0 5rem 11.4rem -5rem #ee271f;

	&:hover {
		@include transform(translateY(-5rem));
		box-shadow: 0 5rem 31.4rem -5rem #ee271f;
	}
}

/************************************************************************************************/

.factory-photo {
	box-shadow: 0 21rem #{25.9rem * 2} -19rem #000;
}

/************************************************************************************************/

.cert-slider-prev , .cert-slider-next {
	box-shadow: inset 0 0 0 0 #ee271f;
}
.cert-slider-prev {
	&:hover {
		box-shadow: inset -40rem 0 0 0 #ee271f;
	}
}
.cert-slider-next {
	&:hover {
		box-shadow: inset 40rem 0 0 0 #ee271f;
	}
}

.cert-slider {
	.swiper-slide {
		& , & > * {
			@include transition-property(all);
			@include transition-duration(inherit);
		}

		&.swiper-slide-active {
			& , & + *, & + * + *, & + * + * + * {
				opacity: 1;
			}

			& + * > * {
				background-position: 50% 50%;
				height: 375rem;
			}
			& + * + * > * {
				background-position: 100% 50%;
			}
			& + * + * ~ * > * {
				background-position: 62% 50%;
				height: 235rem;
			}
		}
	}
}

/************************************************************************************************/

.popup-container {
	:checked + & {
		opacity: 0;
		& , * {
			pointer-events: none;
		}
	}

	input {
		@include placeholder {
			color: inherit;
			@include transition-raw(inherit);
		}

		&:focus {
			@include placeholder {
				color: transparent;
			}

			border-color: inherit;
		}
	}
}

.popup-bg {
	background-image: url(/assets/img/popup/bg.jpg);
	background-position: left bottom;
}

/************************************************************************************************/

.calc-undernumber {
	@include transform(skewX(-33.7deg));
	@include transform-origin(center);
}

/************************************************************************************************/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	@include transition(all,.3s);
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-animated-image {
	-o-object-fit: cover;
	object-fit: cover;
}
.mfp-figure:after {
	display: none;
}

/************************************************************************************************/

.simple-shadow {
	box-shadow: 0 0 #{28.6rem * 2} -30rem #000;
}